<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="BlazzCore">
    <item label="Terminal">
      <action name="Execute"><command>foot</command></action>
    </item>
    <item label="Browser">
      <action name="Execute"><command>blazzcore-browser</command></action>
    </item>
    <item label="Files">
      <action name="Execute"><command>thunar</command></action>
    </item>
    <item label="Text Editor">
      <action name="Execute"><command>mousepad</command></action>
    </item>
    <item label="Calculator">
      <action name="Execute"><command>galculator</command></action>
    </item>
    <item label="Screenshot">
      <action name="Execute"><command>blazzcore-screenshot area</command></action>
    </item>
    <item label="App Launcher">
      <action name="Execute"><command>wofi --show drun --allow-images</command></action>
    </item>
    <separator/>
    <item label="Settings">
      <action name="Execute"><command>blazzcore-settings</command></action>
    </item>
    <item label="Display">
      <action name="Execute"><command>wdisplays</command></action>
    </item>
    <item label="Wallpaper">
      <action name="Execute"><command>blazzcore-wallpaper</command></action>
    </item>
    <separator/>
    <item label="Power...">
      <action name="Execute"><command>blazzcore-power</command></action>
    </item>
  </menu>
</openbox_menu>
