# BlazzCore GRUB Configuration

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod all_video
insmod font

set color_normal=light-gray/black
set color_highlight=white/blue

set default="BlazzCore"
set timeout=10

menuentry "BlazzCore Live" --id BlazzCore {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=1G quiet splash plymouth.ignore-serial-consoles vt.global_cursor_default=0 video=1920x1080 console=ttyS0,115200
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Install BlazzCore" --id BlazzCore-install {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=1G quiet splash plymouth.ignore-serial-consoles vt.global_cursor_default=0 video=1920x1080 blazzcore_install console=ttyS0,115200
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "BlazzCore Live (Safe Mode)" --id BlazzCore-safe {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=1G nomodeset
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}
