[Desktop Entry]
Name=Settings
Comment=BlazzCore system settings
Exec=blazzcore-settings
Icon=preferences-system
Type=Application
Categories=Settings;
Keywords=settings;preferences;config;display;theme;wallpaper;network;sound;bluetooth;
StartupNotify=true
