[Desktop Entry]
Name=Browser
Comment=Launch Chromium with GPU acceleration
Exec=blazzcore-browser
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
Keywords=browser;web;internet;chromium;chrome;
StartupNotify=true
