[Desktop Entry]
Name=Tic Tac Toe
Comment=Play Tic Tac Toe
Exec=foot -e tictactoe
Icon=applications-games
Type=Application
Categories=Game;
Keywords=tictactoe;game;tic;tac;toe;terminal;
StartupNotify=true
