[Desktop Entry]
Name=App Launcher
Comment=Launch applications
Exec=wofi --show drun --allow-images
Icon=view-app-grid
Type=Application
Categories=Utility;
Keywords=launcher;app;menu;run;search;wofi;
StartupNotify=false
